EET/122\ -\ Programming\ Fundamentals\ with\ C\ &\ C++/*.o
EET/122\ -\ Programming\ Fundamentals\ with\ C\ &\ C++/*.xopp
EET/122\ -\ Programming\ Fundamentals\ with\ C\ &\ C++/*.zip
EET/122\ -\ Programming\ Fundamentals\ with\ C\ &\ C++/Homework/*.o
EET/122\ -\ Programming\ Fundamentals\ with\ C\ &\ C++/Homework/*.zip
EET/110\ -\ Circuit\ Analysis/*.xopp
EET/241\ -\ Logic\ Circuits/*.xopp
EET/241\ -\ Logic\ Circuits/*.zip
COMM/2120\ -\ Interpersonal\ Communication/*.xopp
COMM/2120\ -\ Interpersonal\ Communication/Journals/*.aux
COMM/2120\ -\ Interpersonal\ Communication/Journals/*.log
COMM/2120\ -\ Interpersonal\ Communication/Position\ Papers/*.aux
COMM/2120\ -\ Interpersonal\ Communication/Position\ Papers/*.log
